#game img{
    max-width:80%;
    max-height:80%
}

#game table{
    max-height: 60vh;
    max-width: 80vh;
    margin: 0 auto;
}

#game table, td{
    border: 2px solid black;
}

#game td{
    padding: 1%;
    text-align: center;
    transition: 0.5s;
}

#game td:hover{
    background-color: rgb(185, 185, 255);
}

#game .no_interact:hover{
    background-color:unset;
}

.red_tint{
    background-color: rgb(255, 185, 185);
}

.green_tint{
    background-color: rgb(185, 255, 185);
}