html,
body{
    height: 100%;
    min-height: 100%;
}

h1{
    text-align: center;
}

button{
    color:black;
    transition: 0.5s;
}

button:hover{
    background-color: #aaaaff;
}

#main{
    padding-bottom: 5%;
}

#header{
    width:100%;
}

#footer{
    position:fixed;
    bottom: 0px; 
    width:100%;
    background-color:#FFFFFF;
    height:10%;
}